@using Application.Queries.Employee
@if (Employees.Count > 0)
{
    <SfGrid DataSource="@Employees" AllowFiltering="true" AllowPaging="true">
        <GridPageSettings PageSize="10" PageCount="5" PageSizes="true"></GridPageSettings>
        <GridFilterSettings Mode="FilterBarMode.Immediate"></GridFilterSettings>
        <GridColumns>
            <GridColumn Field="@nameof(GetEmployeesQuery.FirstName)" HeaderText="First name"></GridColumn>
            <GridColumn Field="@nameof(GetEmployeesQuery.LastName)" HeaderText="Last name"></GridColumn>
            <GridColumn Field="@nameof(GetEmployeesQuery.Age)" HeaderText="Age"></GridColumn>
            <GridColumn HeaderText="Technologies">
                <Template>
                    @{
                        var currentEmployee = context as GetEmployeesQuery;
                        foreach (var technology in currentEmployee.TechnologyNames)
                        {
                            <p>@technology</p>
                        }
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(GetEmployeesQuery.TeamId)" HeaderText="Team id"></GridColumn>
        </GridColumns>
    </SfGrid>
}
else {
    <span>
        Loading employees...
    </span>
}