@if (Employees.Count <= 0)
{
    <span>
        Loading products...
    </span>

}
else {
    <table class="table">
        <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Age</th>
            <th scope="col">Technologies</th>
            <th scope="col">Team id</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Employees)
        {
            <tr>
                <td class="align-middle">
                    @employee.FirstName
                </td>
                <td class="align-middle">
                    @employee.LastName
                </td>
                <td class="align-middle">
                    @employee.Age
                </td>
                <td class="align-middle">
                    @foreach (var technology in employee.TechnologyNames)
                    {
                        <p>@technology</p>
                    }
                </td>
                <td class="align-middle">
                    @employee.TeamId
                </td>
            </tr>
        }
        </tbody>
    </table>
}
